     /* This Theme is called "Wasp" and Obsidian Theme created by Santi Younger */

     /* Last Update:
2021-07-27 14:48
     */

     :root
     {
       
        --font-monospace: "Source Code Pro", monospace;
    }
    
     

     .theme-dark
     {
        --dark0_x:  46,52,64; /* #2e3440 */
        --dark0:    rgb(var(--dark0_x));
        --dark1_x:  59,66,82; /* #3b4252 */
        --dark1:    rgb(var(--dark1_x));
        --dark2_x:  67,76,94; /* #434c5e */
        --dark2:    rgb(var(--dark2_x));
        --dark3_x:  76,86,106; /* #4c566a */
        --dark3:    rgb(var(--dark3_x));
    
        --light0_x: 216,222,233; /* #d8dee9 */
        --light0:   rgb(var(--light0_x));
        --light1_x: 229,233,240; /* #e5e9f0 */
        --light1:   rgb(var(--light1_x));
        --light2_x: 236,239,244; /* #eceff4 */
        --light2:   rgb(var(--light2_x));
        --light3_x: 255,255,255; /* #ffffff */
        --light3:   rgb(var(--light3_x));
    
        --frost0_x: 143,188,187; /* #8fbcbb */
        --frost0:   rgb(var(--frost0_x));
        --frost1_x: 136,192,208; /* #88c0d0 */
        --frost1:   rgb(var(--frost1_x));
        --frost2_x: 129,161,193; /* #81a1c1 */
        --frost2:   rgb(var(--frost2_x));
        --frost3_x: 94,129,172; /* #5e81ac */
        --frost3:   rgb(var(--frost3_x));
    
        --red_x:    191,97,106; /* #bf616a */
        --red:      rgb(var(--red_x));
        --orange_x: 208,135,112; /* #d08770 */
        --orange:   rgb(var(--orange_x));
        --yellow_x: 235,203,139; /* #ebcb8b */
        --yellow:   rgb(var(--yellow_x));
        --green_x:  163,190,140; /* #a3be8c */
        --green:    rgb(var(--green_x));
        --purple_x: 180,142,173; /* #b48ead */
        --purple:   rgb(var(--purple_x));
/* ``背景颜色 */
    --code-background:               var(--dark1);
    --bold-color:                    var(--red);
     --background-primary:         #242424;
     --background-primary-alt:     #242424;
     --background-secondary:       #191919;
     --background-secondary-alt:   #3D3D3D;
     --text-normal:                #faf2d6;
     --text-faint:                 #bdae93;
     --text-title-h1:              var(--purple);
     --text-title-h2:              var(--green);
     --text-title-h3:              var(--yellow);
     --text-title-h4:              #f4ceea;
     --text-title-h5:              #E0E0E0;
     --text-title-h6:              #E0E0E0;
     --text-highlight-bg:          #640211;
     --text-link:                  #83a598; 
     --text-a-hover:               #83a598; 
         --text-accent-hover:      #D49335;
         
    --text-muted:                  #faf2d6;
/* ^^^ added for hover over bracket internal links */
     --inline-code:                #83a598; 
     --code-block:                 #83a598; 
     --text-a:                     #f8c537; 
     --interactive-accent:         #f8c537;
     --text-accent:                #a9c785; 
     --text-on-accent:             #fff;
     --interactive-accent-rgb:     #f8c537; 
     --vim-cursor:                 #f8c537; 
     /*  --text-mark:                  add text-mark if needed, this should work together with 'mark' */
     --pre-code:                   #;
     --interactive-before:         #7c6f64;
     --background-modifier-border: #f8c537;
     --text-selection:            #f8c537;
     }

      .theme-dark .cm-s-obsidian span.obsidian-search-match-highlight {
      color: var(--text-normal);
      background-color: #483699;
      }

     .theme-light
     {
         --background-primary:         #EDEDED;
         --background-secondary:       #C4C4C4;
          /* thick menu border */
         --background-primary-alt:     #;
         --background-secondary-alt:   #707070; /* ← ↓  corner */
         --text-normal:                #1A2023;
         --text-faint:                 #DEDEDE;
         --text-title-h1:              #D49335;
         --text-title-h2:              #D49335;
         --text-title-h3:              #D49335;
         --text-title-h4:              #D49335;
         --text-title-h5:              #D49335;
         --text-link:                  #D49335;
         --text-a-hover:               #D49335;
         --text-accent-hover:          #D49335;
/* ^^^ added for hover over bracket internal links */
         --inline-code:                #458588;
         /*  --text-mark:                  add if needed */
         --pre-code:                   #bebebe;
         /*  --text-highlight-bg:          add if needed */
         --interactive-before:         #a89984;
         --background-modifier-border: #D49335;
         --text-a:                     #961327;
         --interactive-accent:         #f8c537;
         --text-accent:                #961327;
         --interactive-accent-rgb:     #961327;
         --vim-cursor:                 #961327;
         --text-selection:             #EDC180;
         --text-white:                 #ffffff;
     }

.nav-file-title, .nav-folder-title {
    color: var(--text-normal);
}

.nav-file-title.is-active, .nav-folder-title.is-active, body:not(.is-grabbing) .nav-file-title:hover, body:not(.is-grabbing) .nav-folder-title:hover {
    background-color: var(--background-modifier-border);
    color: white;
}

.cm-s-obsidian span.cm-formatting-link {
    color: var(--text-normal);
}

.CodeMirror-guttermarker-subtle {
    color: var(--text-normal) !important;
}

button.mod-cta {
    background-color: var(--interactive-accent);
    color: var(--text-normal);
}

.vertical-tab-header-group-title {
    color: var(--text-white);
}

      .cm-header-1 {
      font-size: 18px;
      color: var(--text-title-h1) !important;
      }

      .cm-header-2 {
      font-size: 18px;
      color: var(--text-title-h2) !important;
      }

      .cm-header-3 {
      font-size: 18px;
      color: var(--text-title-h3) !important;
      }

      .cm-header-4 {
      font-size: 18px;
      color: var(--text-title-h4) !important;
      }

      .cm-header-5 {
      font-size: 18px;
      color: var(--text-title-h5) !important;
      }

      .cm-header-6 {
      font-size: 18px;
      color: --text-normal;
      color: var(--text-title-h6) !important;
      }

      .markdown-preview-view h1 {
      font-size: 20px;
      line-height: 24px;
      color: var(--text-title-h1) !important;
      }

      .markdown-preview-view h2 {
      font-size: 20px;
      line-height: 24px;
      color: var(--text-title-h2) !important;
      }

      .markdown-preview-view h3 {
      font-size: 20px;
      line-height: 24px;
      color: var(--text-title-h3) !important;
      }

      .markdown-preview-view h4 {
      font-size: 20px;
      line-height: 24px;
      color: var(--text-title-h4) !important;
      }

      .markdown-preview-view h5 {
      font-size: 20px;
      line-height: 24px;
      color: var(--text-title-h5) !important;
      }

      .markdown-preview-view h6 {
      font-size: 20px;
      line-height: 24px;
      color: --text-normal;
      color: var(--text-title-h6) !important;
      }

      /*-----------------------------------------*/
      /* End of main theme, extra functionality can be added below */

      .markdown-source-view { font-family: var(--font-monospace)
      }

     .cm-fat-cursor .CodeMirror-cursor {
     background-color: #f8c537 !important;
     opacity: 80% !important;
     width: 9px !important; 
     visibility: visible !important
     }

.plugin-tabs .stayopen .view-header {
border-bottom: 2px solid var(--interactive-accent)!important;
}

.plugin-tabs .mod-root.workspace-split.mod-vertical div.workspace-leaf:not(.stayopen) > .workspace-leaf-content > .view-header .view-header-title::before{
background-color:transparent!important
}

.plugin-tabs .mod-root.workspace-split.mod-vertical .workspace-split.mod-vertical > div.workspace-leaf:not(.stayopen),
.plugin-tabs .mod-root.workspace-split.mod-vertical > div.workspace-leaf:not(.stayopen){
border-radius: 5px 5px 0px 0px!important;
}

.plugin-tabs .mod-root.workspace-split.mod-vertical div.workspace-leaf{
border-color: var(--background-secondary-alt)!important;
border-bottom-width: 0px!important;
border-right-width: 0px!important
}

.theme-light.plugin-tabs  .mod-root.workspace-split.mod-vertical div.workspace-leaf{
border-color: var(--background-secondary-alt)!important;
border-left-width:3px!important;
border-bottom-width: 0px!important;
border-right-width: 0px!important
}

.plugin-tabs .mod-root.workspace-split.mod-vertical > div.workspace-leaf hr.workspace-leaf-resize-handle,
.plugin-tabs .mod-root.workspace-split.mod-vertical > .mod-vertical hr.workspace-leaf-resize-handle{
display: none;
}


.plugin-tabs .mod-root.workspace-split.mod-vertical div.workspace-leaf .view-header{
border-left-color: transparent!important
}

.plugin-tabs .workspace-split.mod-root > .workspace-leaf:last-of-type .workspace-leaf-content,
.plugin-tabs .workspace-split.mod-root > .workspace-leaf:first-of-type .workspace-leaf-content {
    border-radius: 0px!important;
}

.plugin-tabs .theme-dark .mod-root.workspace-split.mod-vertical .workspace-split.mod-vertical > div.workspace-leaf.mod-active,
.plugin-tabs .theme-dark .mod-root.workspace-split.mod-vertical > div.workspace-leaf.mod-active {
border: 0!important;
border-radius: 0px 0px 0px 0px!important;
}
